<h2 style="text-align: center; padding-top: 50px;"><b>My custom Table</b></h2>
<div style="display: flex; flex-direction: column;position: relative;">
<table  style="align-self: center; align-items: center; border: 0.3px solid black;">
    <tr>
        <th *ngFor="let cloumn of headers" style="padding: 1rem; border: 0.3px solid black;">
            {{cloumn}}
        </th>
    </tr>
    <tr  *ngFor=" let author of AuthorResource">
        <td style="padding-left: 1rem; border-left: 0.3px solid black;border-right: 0.3px solid black;border-bottom: 0.3px solid black; ">
            {{author.id}}
        </td>
        <td  style="padding-left: 1rem; border-Top: 0.3px solid black; ;border-left: 0.3px solid black;border-right: 0.3px solid black;border-bottom: 0.3px solid black; ">
            {{author.fullName}}
        </td>
        <td style="padding-left: 1rem;  border-Top: 0.3px solid black;;border-left: 0.3px solid black;border-right: 0.3px solid black;border-bottom: 0.3px solid black; ">
            {{author.email}}
        </td>
        <td style="padding-left: 1rem;  border-Top: 0.3px solid black;;border-left: 0.3px solid black;border-right: 0.3px solid black;border-bottom: 0.3px solid black; ">
            {{author.age}}
        </td>
        <td style="border-right: 0.3px solid black;border-bottom: 0.3px solid black;">
            <span *ngFor="let book of author.books" style="padding-left: 2rem;">
                {{book.title.toString()}}
            </span>
        </td>
        <td style="padding-left:.5rem;border-bottom: 0.3px solid black;">
            <button (click)="Edit(author.id)" >
                 <mat-icon color="primary">edit</mat-icon> 
                </button>
        </td>
        <td style="padding-left:.5rem; border-right: 0.3px solid black;border-bottom: 0.3px solid black;">
            <button (click)="deleteAuthor(author.id)">   
                <mat-icon color="primary">
                    delete</mat-icon>
                </button>
        </td>
    </tr>
</table>
</div>
<div class="example-button-container"style="margin-left: 45%;margin-top:4%;" >
    <button mat-mini-fab color="accent"  aria-label="Example icon button with a plus one icon" (click)="createNewAuthor()">
        <mat-icon>add</mat-icon>
    </button>
    </div>

<router-outlet></router-outlet>
