<p>publisher-details works!</p>
<table>
    <tr>
        <th *ngFor="let cloumn of headers" style="padding: 1rem;">
            {{cloumn}}
        </th>
    </tr>
    <tr *ngFor="let publisherResource of PublisherResource">
        <td style="padding-left: 1rem;">
            {{publisherResource.id}}
        </td>
        <td style="padding-left: 1rem;">
            {{publisherResource.name}}
        </td>
        <td>
            <span style="padding-left: .3rem;" *ngFor="let book of publisherResource.books">
                {{book.id.toString()}}
            </span>
        </td>
        <td style="padding-left: 1rem;">
             <button (click)= "deletePublisher(publisherResource.id)">Delete</button>
        </td>
        <td style="padding-left: 1rem;">
            <button (click)="edit(publisherResource.id)">Edit</button>
       </td>
    </tr>
</table>

<button (click)="createNewPublisher()" >Post a Publisher</button>
<router-outlet></router-outlet>


<!-- <td style="padding-left: 1rem;">
    <a [routerLink]="['/create/',publisherResource.id]" >Edit</a>
</td> -->
