<p style="text-align: center; padding-top: 2rem;"><em>Create New Book</em></p>
<div style="display: flex; flex-wrap: wrap; justify-content: center;">
<form [formGroup]="myForm" (ngSubmit)="onSubmit()" style="align-items: center; justify-content: center;padding-top: 2rem;">
   <div style="border: 2px solid;background-color: rgb(246, 210, 210);padding-left: 8rem;padding-top: 2rem;padding-bottom: 2rem;">
     {{myForm.value|json}}</div>

    <mat-form-field class="example-full-width">
        <mat-label>title</mat-label>
        <input matInput placeholder="title" formControlName="title">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>discraptions</mat-label>
        <input matInput placeholder="discraptions" formControlName="discraptions">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>publisherId</mat-label>
        <input matInput placeholder="publisherId" formControlName="publisherId">
    </mat-form-field>

    <div>
        <button style="background-color: rgb(246, 210, 210);" type="submit">Submit</button>
    </div>
</form>
</div>