
<p style="text-align: center; padding-top: 2rem;"><em><b>Create New Author</b></em></p>
<div style="display: flex; flex-wrap: wrap; justify-content: center;">
<form [formGroup]="myForm" (ngSubmit)="onSubmit()" style="position: relative;align-items: center; justify-content: center;padding-top: 2rem;">
  <div style="border: 2px solid;background-color: rgb(246, 210, 210);padding-left: 8rem;padding-top: 2rem;padding-bottom: 2rem;">
  value:{{myForm.value|json}}
</div>
<mat-form-field class="example-full-width">
    <mat-label>FullName</mat-label>
    <input  matInput placeholder="fullName"  formControlName="fullName" required minlength="8"  >
    <small  style="padding-top: 1.5rem;" >FullName is required and Uniqe</small>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>email</mat-label>
    <input matInput placeholder="email" formControlName="email" >
    <small style="padding-top: 1.5rem;" >name is required</small>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>age</mat-label>
    <input matInput placeholder="age" formControlName="age" >
    <small style="padding-top: 1.5rem;" >Age should be betweet 1-120</small>
  </mat-form-field>
<div style="position: absolute ; left: 430px;top: 300px;">
    <button [disabled]="myForm.invalid" type="submit">Submit</button>
</div>
</form>
</div>
