
<h2 style="text-align: center; padding-top: 50px;"><b>My custom Table</b></h2>
<div style="display: flex;justify-content: center;">
<table style="width: 40%; margin-left: 15%;">
    <tr>
        <th *ngFor="let column of headers" style="padding: 1rem; border: 0.3px solid black;">
            {{column}}
        </th>
    </tr>
    <tr *ngFor="let bookResource of bookResource ">
        <td style="padding-left: 1rem; border-left: 0.2px solid black;border-right: 0.2px solid black;border-bottom: 0.3px solid black; ">
            {{bookResource.id}}
        </td>
        <td style="padding-left: 1rem; border-right: 0.3px solid black;border-bottom: 0.3px solid black;">
            {{bookResource.title}}
        </td>
        <td style="padding-left: 1rem; border-right: 0.3px solid black;border-bottom: 0.3px solid black;">
            {{bookResource.discraptions}}
        </td>
        <td style="padding-left: 1.6rem; border-right: 0.3px solid black;border-bottom: 0.3px solid black; padding: 1px;">
            {{bookResource.publisherId}}
        </td>
        <td style="padding-left: 1.6rem; border-right: 0.3px solid black;border-bottom: 0.3px solid black;">
             {{bookResource.newpublisher.name}}
        </td>
        <td style="border-right: 0.3px solid black;border-bottom: 0.3px solid black;">
            <span style="padding-left: 2rem;" *ngFor="let bookAuthorResourse of bookResource.bookAuthorResources ">
                {{bookAuthorResourse.fullName.toString()}}</span>
        </td>
        <td style="padding-left:.5rem; border-right: 0.3px solid black;border-bottom: 0.3px solid black;">
            <button (click)="Edit(bookResource.id) ">
                <mat-icon color="primary">edit</mat-icon>
            </button>
        </td>

        <td style="padding-left:.5rem; border-right: 0.3px solid black;border-bottom: 0.3px solid black;">
           
            <button mat-fab style="background-color: aliceblue;"  (click)="deleteBook(bookResource.id)" >
                <mat-icon color="primary">delete</mat-icon>
              </button>
        </td>
    </tr>
</table>
</div>
<div class="example-button-container">
    <button color="accent" (click)="CreateNewBook()" mat-mini-fab style="margin-left:50%; margin-top: 4rem;" aria-label="Example icon button with a plus one icon">
      <mat-icon color="primary">add</mat-icon>
    </button>
  </div>


<router-outlet></router-outlet>


