<mat-toolbar color='primary' class="navbar" >
    <a> <span >My Application</span></a>
    <div  style='color: aliceblue; display: flex; flex-direction: row; '>
    <a routerLink="/">
        <span style="padding: 1rem;" >home</span></a>
    <a routerLink="book" style="color: aliceblue;">
        <span  style="padding: 1rem;">Book</span></a>
    <a routerLink="publisher" style="color: aliceblue;">
        <span  style="padding: 1rem;">Publisher</span></a>
    <a routerLink="author" style="color: aliceblue;"><span>Author</span></a>
</div>
</mat-toolbar>


<router-outlet></router-outlet>