<mat-toolbar color='primary' class="navbar" style="display: flex;">
    <a> <span style="flex-wrap: wrap; justify-content: center;">My Application</span></a>
    <a routerLink="/" style='color: aliceblue;'><span style="padding-left: 650px;">home</span></a>
    <a routerLink="book" style="color: aliceblue;"> <span>Book</span></a>
    <a routerLink="publisher" style="color: aliceblue;"><span>Publisher</span></a>
    <a><span routerLink="author" style="color: aliceblue;">Author</span></a>
</mat-toolbar>
<router-outlet></router-outlet>