<p style="text-align: center; padding-top: 2rem;"><em>Create New Publisher</em></p>
<div style="display: flex; flex-wrap: wrap; justify-content: center;">
<form [formGroup]="myForm" (ngSubmit)="onSubmit()"
 style="align-items: center; justify-content: center;padding-top: 2rem;">
    <div 
    style="border:2px solid;background-color: rgb(246, 210, 210);padding-left: 8rem;padding-top: 2rem;padding-bottom: 2rem;">
    value:{{myForm.value|json}}
  </div>
    <mat-form-field class="example-full-width">
        <mat-label>name</mat-label>
        <input matInput placeholder="name" formControlName="name" minlength="4">
        <small  style="padding-top: 1.5rem;" >name is required and Uniqe</small>
      </mat-form-field>
    
      <mat-form-field class="example-full-width">
        <mat-label>email</mat-label>
        <input matInput placeholder="email" this.myForm.patchValue formControlName="email" >
        <small  style="padding-top: 1.5rem;" >email is required and Uniqe</small>
      </mat-form-field>
    
      <mat-form-field class="example-full-width">
        <mat-label>dateOfBirth</mat-label>
        <input matInput placeholder="dateOfBirth" formControlName="dateOfBirth" >
        <small  style="padding-top: 1.5rem;" >month-day-year</small>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>salery</mat-label>
        <input matInput placeholder="salery" formControlName="salery" >
        <small  style="padding-top: 1.5rem;" >salery should be between 2000-5000 $</small>
       
      </mat-form-field>

    <div style="padding-left: 30rem;">
        <button [disabled]="myForm.invalid" type="submit">Submit</button>
    </div>
    </form>
  </div>